@use '../../assets/scss/mixins.scss' as mixins;

.Login {
    min-height: 100vh;
    display: flex;

    &__sections {
        display: flex;
        flex-grow: 1;

        &__left,
        &__right {
            flex-basis: 50%;
            align-items: stretch;
            padding: 2rem;
        }

        &__left {
            display: flex;
            flex-direction: column;

            @include mixins.tablet {
                flex-basis: 100%;
            }
        }

        &__right {
            background-color: #194bfb;

            @include mixins.tablet {
                display: none;
            }
        }
    }

    &__logo {
    }

    &__contentContainer {
        display: flex;
        // background-color: yellow;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 6rem;

        &__main {
            display: block;
            font-size: 3.2rem;
            margin-bottom: 1.6rem;
            font-weight: bold;
        }

        &__sub {
            display: block;
            font-weight: 400;
            font-size: 1.6rem;
            margin-bottom: 1.6rem;
            color: #718096;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 42rem;
    }

    &__formGroup {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__formRow {
        display: flex;
        justify-content: space-between;
        margin: 1.6rem 0;
    }

    &__formInput {
        border: 1px solid #a0aec0;
        font-size: 1.6rem;
        padding: 1.2rem;
        outline: none;
        display: block;
        width: 100%;
    }

    &__formRememberContainer {
        display: flex;
        align-items: center;
        font-size: 1.6rem;

        label {
            margin-left: 0.5rem;
            font-weight: bold;
        }
    }

    &__formForgotPassword {
        display: block;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }

    &__formBtn {
        padding: 1.4rem;
        font-size: 1.6rem;
        background-color: #0038ff;
        font-weight: bold;
        color: white;
        border: none;
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: center;
    }

    &__formRegisterText {
        text-align: center;
        font-size: 1.6rem;
    }

    &__carouselContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        max-width: 50rem;
        margin: 0 auto;
        color: white;
    }

    &__carouselText {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    &__carouselDescription {
        font-size: 1.4rem;
    }
}
