* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }

.asset-24x-1 {
    /* position: absolute; */
    top: 73px;
    left: 48px;
    width: 163px;
    height: 47px;
    /* object-fit: cover; */
  }
.topping{
    margin-top: 350px;
    margin-left: 100px;
    color: #2400FF;
}  

.description{
    margin-top: 30px;
    margin-left: 100px;
}

.verify{
    margin-top: 30px;
    margin-left: 100px;
}
.buttonss {    
    margin-top: 30px;
    margin-left: 100px;
    color: aliceblue;
    background-color: #2400FF;
    height: 50px;
    width: 200px;
  }

  .emailverify {
    position: absolute;
    /* top: 733px; */
    bottom: 100px;
    left: 988px;
    width: 739px;
    height: 644px;
    /* object-fit: cover; */
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }

    .topping{
        margin-top: 350px;
        margin-left: 50px;
        color: #2400FF;
    }  
    
    .description{
        margin-top: 30px;
        margin-left: 50px;
    }
    
    .verify{
        margin-top: 30px;
        margin-left: 50px;
    }
    .buttonss {    
        margin-top: 30px;
        margin-left: 50px;
        color: aliceblue;
        background-color: #2400FF;
        height: 50px;
        width: 200px;
      }
    
      .emailverify {
        position: absolute;
        top: 733px;
        bottom: 100px;
        left: 100px;
        width: 370px;
        height: 322px;
        /* object-fit: cover; */
      }
  }