@use "../../assets/scss/mixins.scss" as mixins;

.Register {
    // display: flex;
    
    &__sections {
        display: flex;
        flex-grow: 1;
        min-height: 85vh;
        padding: 2rem;
        
        &__left,
        &__right {
            align-items: stretch;
        }
        
        &__left {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            margin-right: 8rem;
            
            @include mixins.tablet {
                flex-basis: 100%;
                margin-right: 0;
            }
        }
        
        &__right {
            flex-basis: 40%;
            @include mixins.tablet {
                display: none;
            }
        }

    }
    
    &__logoContainer {
        padding: 2rem 2rem 0 2rem;
    }

    
    &__contentContainer {
        display: flex;
        // background-color: yellow;
        height: 100%;
        flex-direction: column;
    }

    &__title {
        margin-top: 2rem;
        margin-bottom: 4rem;

        &__main {
            display: block;
            font-size: 3.2rem;
            margin-bottom: .5rem;
            font-weight: bold;
        }
        
        &__sub {
            display: block;
            font-weight: 400;
            font-size: 1.6rem;
            color: #718096;
        }
    }

    &__form {
        // display: flex;
        // flex-direction: column;
        width: 100%;
    }

    &__form {
        // grid-auto-flow: column;
    }
    
    &__formContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    &__formGroup {
        grid-column: auto / span 2;

        &:nth-child(2) {
            grid-column: auto / span 2;
        }
        &:nth-child(3) {
            grid-column: auto / span 1;
        }

        &:nth-last-child(4) {
            grid-row: 4 / auto;
            grid-column: 3 / span 1;
        }
        &:nth-last-child(3) {
            grid-row: 5 / auto;
            grid-column: 3 / span 1;
        }
        &:nth-last-child(2) {
            grid-row: 6 / auto;
            grid-column: 3 / span 1;
        }
        &:nth-last-child(1) {
            grid-row: 7 / auto;
            grid-column: 3 / span 1;
        }

        @include mixins.mobile {
            grid-column: auto / span 3 !important;

            
            &:nth-last-child(4) {
                grid-row: auto / auto;
            }
            &:nth-last-child(3) {
                grid-row: auto / auto;
            }
            &:nth-last-child(2) {
                grid-row: auto / auto;
            }
            &:nth-last-child(1) {
                grid-row: auto / auto;
            }
        }
    }



    // &__formGroup {
    //     width: 100%;

    //     &__quarterWidth {
    //         width: 25%;
    //     }

    //     &__halfWidth {
    //         width: 50%;
    //     }
        
    //     &:not(:last-child) {
    //         margin-bottom: 1rem;
    //     }
    // }

    // &__formRow {
    //     display: flex;

    //     // >div:not(:last-child) {
    //     //     margin-right: 1rem;
    //     // }
    // }

    &__formInput {
        border: 1px solid #A0AEC0;
        font-size: 1.6rem;
        padding: 1.2rem;
        outline: none;
        display: block;
        width: 100%;
    }

    &__formRememberContainer {
        display: flex;
        align-items: center;
        font-size: 1.6rem;

        label {
            margin-left: 0.5rem;
            font-weight: bold;
        }
    }

    &__formForgotPassword {
        display: block;
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }
    
    &__formBtn {
        padding: 1.4rem;
        font-size: 1.6rem;
        background-color: #0038FF;
        font-weight: bold;
        color: white;
        border: none;
        margin-bottom: 1.4rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__formRegisterText {
        text-align: center;
        font-size: 1.6rem;
    }

    &__welcomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        // max-width: 80rem;
        margin: 0 auto;
        color: white;
        background-color: #194BFB;
        border-radius: 2.2rem;
        padding: 10%;
    }

    &__welcomeText {
        font-size: 4rem;
        margin-bottom: 2rem;

        &__main {
            display: block;
            font-size: 4rem;
            font-weight: bold;
        }
        
        &__sub {
            display: block;
            font-weight: 400;
            font-size: 2.5rem;
            margin-bottom: 1.6rem;
        }
    }

    &__welcomeDescription {
        font-size: 1.4rem;
    }

    &__welcomeList {

    }

    &__welcomeListItem {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}