.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 777px;
    height: 1024px;
  }
  .body,
  .title {
    align-self: stretch;
    position: relative;
    display: inline-block;
  }
  .title {
    letter-spacing: 0.2px;
    line-height: 125%;
    font-weight: 800;
  }
  .body {
    font-size: var(--body-large-semibold-size);
    letter-spacing: 0.3px;
    line-height: 150%;
    color: var(--greyscale-600);
  }
  .text {
    position: absolute;
    top: 405px;
    left: 245px;
    width: 288px;
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
    font-size: var(--heading-h3-size);
  }
  .emailFormGroup {
    border: 0;
    background-color: transparent;
    align-self: stretch;
  }
  .button,
  .input {
    width: 427px;
    position: absolute;
    left: 175px;
  }
  .input {
    top: 476px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .button {
    top: 684px;
  }
  .checkIcon {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  .rememberMe {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
  }
  .remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .forgotPassword {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 150%;
    font-weight: 600;
    color: var(--primary-base);
    text-align: right;
    display: inline-block;
  }
  .frameDiv {
    position: absolute;
    top: 628px;
    left: 175px;
    width: 427px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  .dontHaveAn {
    font-weight: 500;
  }
  .signUp {
    font-weight: 800;
  }
  .copyright2023,
  .dontHaveAnAccountSignUp {
    letter-spacing: 0.2px;
    line-height: 150%;
    display: inline-block;
  }
  .dontHaveAnAccountSignUp {
    position: absolute;
    top: 772px;
    left: 266px;
  }
  .copyright2023 {
    position: relative;
    font-weight: 600;
    text-align: right;
  }
  .text1 {
    position: absolute;
    top: 952px;
    left: 48px;
    width: 681px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: var(--greyscale-600);
  }
  .background1,
  .content {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    width: 777px;
    height: 1024px;
    font-size: var(--body-large-semibold-size);
    color: var(--greyscale-900);
  }
  .background1 {
    border-radius: var(--br-sm);
    background-color: var(--primary-base);
    width: 639px;
    height: 976px;
  }
  .title2 {
    align-self: stretch;
    position: relative;
    line-height: 110%;
    font-weight: 800;
    display: inline-block;
  }
  .meticsHelpYou {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .unbeatableBusinessManaging {
    margin: 0;
  }
  .body1 {
    align-self: stretch;
    position: relative;
    font-size: var(--body-medium-medium-size);
    letter-spacing: 0.2px;
    line-height: 120%;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    opacity: 0.7;
  }
  .text2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-md);
  }
  .ellipseIcon,
  .rectangleDiv {
    position: relative;
    height: 6px;
    flex-shrink: 0;
  }
  .rectangleDiv {
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 24px;
  }
  .ellipseIcon {
    width: 6px;
    opacity: 0.5;
  }
  .indicator,
  .title1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
  }
  .title1 {
    position: absolute;
    top: 715px;
    left: 70px;
    border-radius: var(--br-sm);
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }
  .patternIcon {
    position: absolute;
    height: 96.93%;
    width: 95.78%;
    top: 1.84%;
    right: 2.5%;
    bottom: 1.23%;
    left: 1.72%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .illustration {
    position: absolute;
    top: 24px;
    left: 777px;
    width: 639px;
    height: 976px;
  }
  .asset24x1,
  .handShake1 {
    position: absolute;
    top: 284px;
    left: 903px;
    width: 388px;
    height: 388px;
    object-fit: cover;
  }
  .asset24x1 {
    top: 28px;
    left: 30px;
    width: 163px;
    height: 47px;
  }
  .signIn {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: var(--heading-h2-size);
    color: var(--color-white);
    font-family: var(--heading-h3);
  }
  