@use "../../assets/scss/mixins.scss" as mixins;

.Icon {
    display: flex;
    color: white;
    padding: 1.5rem 2rem;
    // justify-content: space-between;
    background-color: transparent;
    outline: none;
    border: none;
    align-items: center;

    &:hover {
        // background-color: rgb(10, 147, 117);
        background-color: #F8F8F863;
    }
    

    &__text {
        margin: 0;
        margin-left: 2rem;
        font-size: 1.6rem;
        display: none;
        
        @include mixins.tablet {
            display: none;
        }
    }

    &__image {
        width: 2.6rem;
    }
    
    &__expanded &__text {
        display: block;
    }
    
    &__active {
        background-color: #F8F8F863;
    }
}