.Icon {
    display: flex;
    color: white;
    padding: 1.5rem 2rem;
    // justify-content: space-between;
    background-color: transparent;
    outline: none;
    border: none;

    &:hover {
        background-color: rgb(10, 147, 117);
    }


    &__text {
        margin: 0;
        margin-left: 2rem;
        font-size: 1.6rem;
    }

    &__image {
        width: 3rem;
    }
}