/* .background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 777px;
    height: 1024px;
  }
  .body,
  .title {
    align-self: stretch;
    position: relative;
    line-height: 125%;
    display: inline-block;
    font-size: 30px;
    font-family: 'Inter', sans-serif;

  }
  .body {
    font-size: var(--body-large-semibold-size);
    letter-spacing: 0.3px;
    line-height: 150%;
    font-weight: 500;
    color: var(--greyscale-600);
    margin-top: -1px;
    font-family: 'Inter', sans-serif;

  }
  .text {
    position: absolute;
    top: 76.86px;
    left: 161.65px;
    width: 404.13px;
    height: 61.58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--heading-h3-size);
    font-family: var(--font-dm-sans);
  }
  .emailFormgroup {
    border: 0;
    background-color: transparent;
    flex: 1;
  }
  .emailParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .passwordFormgroup {
    border: 0;
    background-color: transparent;
    align-self: stretch;
  }
  .button,
  .input {
    position: absolute;
  }
  .input {
    top: 170px;
    left: 161.65px;
    width: 426.08px;
    height: 195.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .button {
    width: 426.0797424316406px;
    top: 900.15px;
    left: 174.62px;
  }
  .alreadyHaveAn {
    font-weight: 500;
    font-family: 'Inter', sans-serif;

  }
  .signIn {
    font-weight: 800;
  }
  .alreadyHaveAnContainer {
    line-break: anywhere;
    width: 100%;
  }
  .alreadyHaveAnAccountSign {
    position: absolute;
    width: calc(100% - 1134.55px);
    top: 945.17px;
    left: 260.44px;
    letter-spacing: 0.2px;
    line-height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 23.46px;
  }
  .privacyPolicy {
    font-weight: 600;
    color: var(--greyscale-900);
  }
  .byCreatingAnAccountYouAg {
    position: absolute;
    top: 996.81px;
    left: 174.62px;
    font-size: var(--body-medium-medium-size);
    letter-spacing: 0.2px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 426.08px;
    height: 41.06px;
    color: var(--greyscale-600);
  }
  .copyright2022,
  .privacyPolicy1 {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
  }
  .copyright2022 {
    text-align: right;
  }
  .text1 {
    position: absolute;
    top: 928.64px;
    left: 30.93px;
    width: 1358.07px;
    height: 19.55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--greyscale-600);
  } */
  /* .asset24x1, */
  /* .content {
    position: absolute;
    top: 13px;
    left: 24px;
    width: 1389px;
    height: 1024px;
  }
  .asset24x1 {
    top: 73px;
    left: 48px;
    width: 163px;
    height: 47px;
    object-fit: cover;
  }
  .signUp {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--body-large-semibold-size);
    color: var(--greyscale-900);
    font-family: var(--heading-h3);
  }
   */

   .background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 777px;
    height: 1024px;
  }
  .body,
  .title {
    align-self: stretch;
    position: relative;
    line-height: 125%;
    font-size: 30px;
    font-family: 'Inter', sans-serif; 
  }
  .body {
    font-size: var(--body-large-semibold-size);
    letter-spacing: 0.3px;
    line-height: 150%;
    font-weight: 500;
    color: var(--greyscale-600);
    margin-top: -1px;
  }
  .text {
    position: absolute;
    top: 162px;
    left: 62px;
    width: 404.13px;
    height: 61.58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .email-formgroup {
    border: 0;
    background-color: transparent;
    flex: 1;
  }
  .email-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .email-formgroup2,
  .email-formgroup3 {
    border: 0;
    background-color: transparent;
  }
  .email-formgroup2 {
    width: 426px;
  }
  .email-formgroup3 {
    align-self: stretch;
  }
  .input {
    position: absolute;
    top: 267px;
    left: 62px;
    width: 426.08px;
    height: 195.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .by-creating-an {
    font-weight: 340;
  }
  .privacy-policy {
    font-weight: 600;
    color: var(--greyscale-900);
  }
  .by-creating-an-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .by-creating-an-container {
    position: absolute;
    top: 912px;
    left: 936px;
    font-size: var(--body-medium-medium-size);
    letter-spacing: 0.2px;
    line-height: 150%;
    display: flex;
    align-items: center;
    width: 426.08px;
    height: 41.06px;
    color: var(--greyscale-600);
    font-family: var(--heading-h3);
  }
  .content {
    position: absolute;
    top: 13px;
    left: 24px;
    width: 1362.08px;
    height: 1024px;
  }
  .email-formgroup4,
  .email-formgroup5,
  .email-formgroup6,
  .email-formgroup7 {
    width: 426.0797424316406px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 651px;
    left: 86px;
  }
  .email-formgroup5,
  .email-formgroup6,
  .email-formgroup7 {
    top: 728px;
  }
  .email-formgroup6,
  .email-formgroup7 {
    top: 805px;
  }
  .email-formgroup7 {
    top: 576px;
    left: 540px;
  }
  .email-formgroup10,
  .email-formgroup8,
  .email-formgroup9,
  .password-formgroup,
  .password-formgroup1 {
    width: 426.0797424316406px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 651px;
    left: 540px;
  }
  .email-formgroup10,
  .email-formgroup9,
  .password-formgroup,
  .password-formgroup1 {
    top: 728px;
  }
  .email-formgroup10,
  .password-formgroup,
  .password-formgroup1 {
    top: 800px;
  }
  .password-formgroup,
  .password-formgroup1 {
    top: 497px;
    left: 86px;
  }
  .password-formgroup1 {
    top: 574px;
  }
  .asset-24x-1 {
    position: absolute;
    top: 73px;
    left: 48px;
    width: 163px;
    height: 47px;
    object-fit: cover;
  }
  .button {
    width: 426.0797424316406px;
    position: absolute;
    top: 919px;
    left: 86px;
  }
  .sign-up {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--heading-h3-size);
    color: var(--greyscale-900);
    font-family: var(--font-dm-sans);
  }
  